body {
    font-family: Arial, sans-serif;
    background: url('C:/Users/Asus/Documents/ROOMMATE ALLOCATION APP/WALLPAPERS/w3.jpg') no-repeat center center fixed; 
    background-size: cover;
    margin: 0;
    user-select: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-height: 100vh;
    overflow-y: auto;
    font-family: monospace;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding-top: 30px;
    border-width: 0px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 30%;
    text-align: center;
    height: 45%;
}
.spaceDiv {
    height: 1000px;
    visibility: visible;
}
h1 {
    font-family: monospace;
    font-size: 55px;
    color: rgba(255,255,255,0.9);
    text-align: left;
}
.textbox {
    font-size: 15px;
    padding: 10px;
    width: 80%;
    margin: 30px;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.8);
    border-bottom-width: 0px;
    border-radius: 10px;
    border-width: 0px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.5);
}
.button {
    padding: 10px;
    font-family: monospace;
    margin: 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-width: 0px;
}
.button:hover {
    padding: 10px;
    font-family: monospace;
    margin: 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border-width: 0px;
}
input[type="text"]:focus {
    outline: none;
}
.logout_button {
    padding: 10px;
    font-family: monospace;
    margin: 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-width: 0px;
    position: fixed;
    margin-left: 400px;
}
.logout_button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
.settings_button {
    position: fixed; /* Position relative to the viewport */
    top: 20px; /* Adjust this value to set distance from top */
    left: 20px; /* Adjust this value to set distance from left */
    font-family: monospace;
    font-size: 70px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px; /* Adjust padding as needed */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    width: 10%; /* Adjust width as needed */
    text-align: center;
    height: 10%; /* Adjust height as needed */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    transition-duration: 0.5s;
}
.settings_div {
    position: fixed; /* Position relative to the viewport */
    top: 20px; /* Adjust this value to set distance from top */
    left: 20px; /* Adjust this value to set distance from left */
    font-family: monospace;
    font-size: 0px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px; /* Adjust padding as needed */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    width: 0%; /* Adjust width as needed */
    align-items: center;
    height: 0%; /* Adjust height as needed */
    display: none; /* Enable flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.wallpaper_buttons {
    height: 15%;
    width: 15%;
    border-radius: 10px;
}
.wallpapersDiv_style {
    display: flex;
}